@font-face {
    font-family: NunitoSans;
    src: url("../fonts/NunitoSans-Bold/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans-Bold/NunitoSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: NunitoSans;
    src: url("../fonts/NunitoSans-Light/NunitoSans-Light.woff") format("woff"), url("../fonts/NunitoSans-Light/NunitoSans-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: NunitoSans;
    src: url("../fonts/NunitoSans-Regular/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular/NunitoSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: NunitoSans;
    src: url("../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

.Header {
    margin: 100px 0 30px
}

.Header__infoText {
    color: #5c5f7c
}

.Header__amount {
    color: #413e67;
    font-size: 25px;
    margin-top: 27px;
    font-weight: 700
}

.PaymentsList {
    position: relative
}

.PaymentsList__link {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

.PaymentsList__item {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(157, 152, 171, .19);
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px
}

@media (min-width:768px) {
    .PaymentsList__item {
        padding: 30px;
        min-height: 323px
    }
}

.PaymentsList__item:hover {
    box-shadow: 5px 6px 37px 0 rgba(157, 152, 171, .5)
}

.PaymentsList__title {
    color: #413e67;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700
}

@media (min-width:768px) {
    .PaymentsList__title {
        font-size: 22px;
        font-weight: 600
    }
}

.PaymentsList__header {
    display: flex;
    justify-content: space-between;
    height: 100px
}

@media (min-width:768px) {
    .PaymentsList__header {
        display: block;
        height: auto
    }
    .PaymentsList__header:after {
        display: none
    }
}

.PaymentsList__arrowIcon {
    padding: 10px;
    cursor: pointer
}

@media (min-width:768px) {
    .PaymentsList__arrowIcon {
        display: none
    }
}

.PaymentsList__logo {
    display: flex;
    padding-right: 0px
}

.PaymentsList__logo img {
    max-width: 76px
}

@media (min-width:768px) {
    .PaymentsList__logo {
        display: block
    }
    .PaymentsList__logo img {
        max-width: 70%
    }
}

.PaymentsList__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 20px;
    border-left: 1px solid #e6e6f2
}

@media (min-width:768px) {
    .PaymentsList__info {
        border: 0;
        display: block;
        padding-left: 0
    }
}

.PaymentsList__body {
    display: none;
    background: #fafafd;
    margin: 15px -15px -15px;
    padding: 30px 30px 40px;
    border-radius: 0 0 5px 5px
}

.PaymentsList__body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

@media (min-width:768px) {
    .PaymentsList__body form {
        display: block
    }
}

.PaymentsList__body .form-group {
    margin-bottom: 0;
    margin-right: 15px;
    width: 100%
}

@media (min-width:768px) {
    .PaymentsList__body .form-group {
        margin-bottom: 40px;
        margin-right: 0
    }
}

.PaymentsList__body fieldset {
    flex-shrink: 0
}

@media (min-width:768px) {
    .PaymentsList__body {
        background: #fff;
        margin: 0;
        padding: 0;
        border-radius: 0
    }
}

.PaymentsList__switcher {
    display: block;
    height: 100%;
    cursor: pointer;
    margin: 0
}

.PaymentsList__switcher .PaymentsList__checkbox {
    display: none
}

@media (min-width:768px) {
    .PaymentsList__switcher .PaymentsList__checkbox:checked+.PaymentsList__spread .PaymentsList__minMaxSum,
    .PaymentsList__switcher .PaymentsList__checkbox:checked+.PaymentsList__spread .PaymentsList__title {
        display: none
    }
}

.PaymentsList__switcher .PaymentsList__checkbox:checked+.PaymentsList__spread .PaymentsList__arrowIcon {
    transform: rotate(90deg)
}

.PaymentsList__switcher .PaymentsList__checkbox:checked+.PaymentsList__spread .PaymentsList__body {
    display: block
}

.PaymentsList__minMaxSum {
    color: #9295b1;
    font-size: 12px;
    display: inline-block
}

@media (min-width:768px) {
    .PaymentsList__minMaxSum {
        margin-top: 109px;
        padding: 10px 0 0;
        border-top: 1px solid #e8e8f9
    }
}

.PaymentsList__minMaxSumDesktop {
    display: none
}

@media (min-width:768px) {
    .PaymentsList__minMaxSumDesktop {
        display: block;
        color: #9295b1;
        font-size: 12px;
        margin-top: 15px
    }
}

.btn {
    border-radius: 2px;
    border: 0;
    font-size: 14px;
    padding: 15px 20px!important;
    width: 100%
}

.btn.btn-danger {
    background-image: linear-gradient(79deg, #eb595c, #ea5293)
}

.btn[disabled] {
    opacity: .7;
    pointer-events: none;
    text-decoration: none
}

.form-group .input-group .form-control {
    border: 0;
    border-bottom: 1px solid #c8cad9;
    border-radius: 0;
    background: none;
    padding-right: 55px;
    padding-left: 0
}

.form-group .input-group .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #4a54b2
}

.form-group .input-group .input-group-text {
    position: absolute;
    right: 0;
    background: none;
    border: 0;
    border-radius: 0;
    color: #9295b1
}

.form-group .input-group::-webkit-input-placeholder {
    color: #9295b1
}

.form-group .input-group::-moz-placeholder {
    color: #9295b1
}

.form-group .input-group:-ms-input-placeholder {
    color: #9295b1
}

.form-group .input-group:-moz-placeholder {
    color: #9295b1
}

.form-group .input-group .invalid-feedback,
.form-group .input-group .valid-feedback {
    font-size: 10px;
    text-align: left
}

.form-group .input-group .error {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 15px
}